:host {
	flex: 1 1 0;
}

.angular-universal-header {
	margin: 8px 8px 0 8px;
	min-height: 84px;
	.header-content {
		padding-top: 15px;
		margin-left: 20px;
		a {
			cursor:pointer;
			text-decoration: underline;
		}
	}
}

mat-card {
	margin: 8px;
	padding: 8px;
}
