:host {
  flex: 1;
  display: flex;
}

mat-card {
  padding: 0;
  margin: 8px;

  mat-toolbar {
    color: rgb(37, 130, 0);

    img {
      height: 30px;
    }
  }

  .container {
    margin: 15px;
    overflow: auto;

    mat-icon {
      font-weight: 900;
      margin-right: 8px;
    }

    button {
      margin: 5px;
    }

    .success {
      color: #4CAF50;
    }

    .error {
      color: #F44336;
    }
  }
}
