<div fxFlex fxLayout="column">
  <mat-card fxFlex fxLayout="column" fxFlex>
    <div fxLayout="row">
      <img src="https://cdn-images-1.medium.com/max/1199/1*IQU-Nfl1ylx3bN5q6Uf_iA.png" style="height: 80px;">
    </div>
    <div>
      <h1>Angular Universal Addon allow you to enable Server Side Rendering (SSR) on your angular application</h1>
    </div>
    <div>
      <h2>Advantages</h2>
      <ol>
        <li>Facilitate web crawlers (SEO)</li>
        <li>Improve performance on mobile and low-powered devices</li>
        <li>Show the first page quickly</li>
      </ol>
    </div>
    <div>
      <h2>To turn a regular angular application to a Universal App you will need to</h2>
      <ul>
        <li>
          Install
          <code>@angular/platform-server</code>
        </li>
        <li>a server-side app module,
          <code>app.server.module.ts</code>
        </li>
        <li>an entry point for the server-side,
          <code>main.server.ts</code>
        </li>
        <li>a TypeScript config file,
          <code>tsconfig.server.json</code>
        </li>
        <li>
          Modify your angular.json config files
        </li>
        <li>
          Build your browser-side and server-side angular sources in AOT
        </li>
      </ul>
    </div>
  </mat-card>
</div>
